{% extends "base.html" %}
{% block content %}
<p>
  Etes-vous prêt à vivre la plus belle expérience de votre vie ?
  Dans ce monde fantastique, vous pouvez :
</p>
<ul>
  <li>
    Vous déplacer <pre>Aller + direction</pre>
  </li>
  <li>
    Prendre quelque chose <pre>Prendre + chose</pre>
  </li>
  <li>
    Regarder autour de vous <pre>Regarder</pre>
  </li>
  <li>
    Inspecter quelque chose <pre>Regarder + chose</pre>
  </li>
  <li>
    Ouvrir quelque chose <pre>Ouvrir + chose</pre>
  </li>
  <li>
    Dévérouiller quelque chose <pre>Ouvrir + chose + avec + chose</pre>
  </li>
  <li>
    Fermer quelque chose <pre>Fermer + chose</pre>
  </li>
  <li>
    Allumer quelque chose <pre>Allumer + chose</pre>
  </li>
  <li>
    Allumer quelque chose avec quelque chose <pre>Allumer + chose + avec + chose</pre>
  </li>
  <li>
    Eteindre <pre>Eteindre + chose</pre>
  </li>
  <li>
    Vous déplacer <pre>Aller + direction</pre>
  </li>
  <li>
    Déposer quelque chose <pre>Poser + chose</pre>
  </li>
  <li>
    Déposer quelque chose sur quelque chose <pre>Poser + chose + sur + chose</pre>
  </li>
  <li>
    Manger quelque chose <pre>Manger + chose</pre>
  </li>
  <li>
    Boire quelque chose <pre>Boire + chose</pre>
  </li>
  <li>
    Parler à quelqu'un <pre>Parler + personne</pre>
  </li>
  <li>
    Acheter quelque chose <pre>Acheter + chose</pre>
  </li>
  <li>
    Dormir sur quelque chose <pre>Dormir sur + chose</pre>
  </li>
  <li>
    Tuer quelque chose <pre>Tuer + chose</pre>
  </li>
  <li>
    Tuer quelque chose avec quelque chose <pre>Allumer + chose + avec + chose</pre>
  </li>
</ul>
{% end %}
{% block js %}
selected_tab = "#tababout";
{% end %}
